html, body {
	background-color: white;
}

.header-logo {
	color: white;
	font-family: Fira Sans;
}

.font {
	font-family: Fira Sans !important;
}

/*.nav-bar {
	background-color: #118f6f;
}*/

.theme-color {
	/*color: #3498db !important;*/
	color: #00b894 !important;
}

.white-text {
	color: white !important;
}

.fitting-width {
	/*width: 3rem;*/
}

.glow:hover {
	color: #3498db !important;
}